<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A consequatur iste officia non nemo corporis natus qui tempore, ipsa,
    id optio, ut amet molestias. Earum aliquid pariatur sapiente itaque numquam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A consequatur iste officia non nemo corporis natus qui tempore, ipsa,
    id optio, ut amet molestias. Earum aliquid pariatur sapiente itaque numquam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A consequatur iste officia non nemo corporis natus qui tempore, ipsa,
    id optio, ut amet molestias. Earum aliquid pariatur sapiente itaque numquam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A consequatur iste officia non nemo corporis natus qui tempore, ipsa,
    id optio, ut amet molestias. Earum aliquid pariatur sapiente itaque numquam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A consequatur iste officia non nemo corporis natus qui tempore, ipsa,
    id optio, ut amet molestias. Earum aliquid pariatur sapiente itaque numquam.
  </p>
</article>
